graph_type = 0
word_attraction = 0
keyphrase = 0
fl_score =0
core_rank = 0
word_embed = 0

loading language model...
finish loading language model, time_cost = 77.63s
loading GoogleNews...
finish loading GoogleNews, time_cost = 121.36s
start building graph...
build graph without word_net
finish buiding graph !
13.7212301587 so the remote control to be international and not too
15.0545634921 as you will discuss about the remote control so the
15.7212301587 you really the remote control to be international and not too
17.0545634921 as you will discuss about the remote control as we want
17.0545634921 so the remote control has to be original trendy and user-friendly
18.9523809524 it be an international product so you don't have to
19.0545634921 you really the remote control has to be original trendy and user-friendly
19.7212301587 so the remote control to be international product so you don't have to
20.9206349206 and when designing u . v . remote control as we want
21.7212301587 as you will discuss about the remote control to be international and not too



graph_type=1.0, word_attraction=0.0, keyphrase=0.0, fl_score=1.0, core_rank=0.0, word_embed=0.0 
0.473859472658 so the remote control to be international product so you don't have to
0.482525620967 it be an international product so you don't have to
0.558972106004 you really the remote control to be international product so you don't have to
0.560680061601 and to be that's really people would be interested in buying in your remote control
0.562516432885 and as you may know there's a lot of industrials interesting in creating and a remote control
0.577923581629 so the remote control just remember that so it has to be kind of international product so you don't have to
0.608425992851 so the remote control just remember that so it has to be kind of international and not too
0.623302394464 as you will discuss about the remote control so the
0.637922400533 you really the remote control just remember that so it has to be kind of international product so you don't have to
0.661115757353 so the remote control has to be original trendy and user-friendly



graph_type=1.0, word_attraction=0.0, keyphrase=0.0, fl_score=0.0, core_rank=1.0, word_embed=0.0 
start building graph...
build graph with word_net
finish buiding graph !
0.275024661116 so the remote control to be international and not too
0.288589459678 so the remote control has to be original trendy and user-friendly
0.333765294886 as you will discuss about the remote control so the
0.3468457158 you really the remote control to be international and not too
0.350443844076 it be an international remote control has to be original trendy and user-friendly
0.351894235259 you really the remote control has to be original trendy and user-friendly
0.416140733252 as you will discuss about the remote control as we want
0.421267410654 so the remote control to be international product so you don't have to
0.496694331236 as you will discuss about the remote control has to be original trendy and user-friendly
0.499842329638 you really the remote control to be international product so you don't have to
graph_type=1.0, word_attraction=0.0, keyphrase=0.0, fl_score=0.0, core_rank=0.0, word_embed=1.0 
start building graph...
build graph with word_net
finish buiding graph !
0.331956773458 so the remote control to be international and not too
0.350984176006 as you will discuss about the remote control to be international and not too
0.364376688549 as you will discuss about the remote control so the
0.380586646095 you really the remote control to be international and not too
0.405017367825 as you will discuss about the remote control has to be original trendy and user-friendly
0.413006561187 as you will discuss about the remote control as we want
0.413006561187 so the remote control has to be original trendy and user-friendly
0.448243921281 as you will discuss about the remote control to be international product so you don't have to
0.461636433825 you really the remote control has to be original trendy and user-friendly
0.468068436968 and as you may know there's a lot of industrials interesting in creating and a remote control



graph_type=1.0, word_attraction=1.0, keyphrase=0.0, fl_score=1.0, core_rank=0.0, word_embed=0.0 
0.171927475366 so the remote control to be international product so you don't have to
0.19698096206 you really the remote control to be international product so you don't have to
0.238626708335 it be an international product so you don't have to
0.275269117663 so the remote control just remember that so it has to be kind of international product so you don't have to
0.294643650583 so the remote control just remember that so it has to be kind of international and not too
0.296177196255 you really the remote control just remember that so it has to be kind of international product so you don't have to
0.304061143037 so the remote control to be international and not too
0.320909528764 you really the remote control just remember that so it has to be kind of international and not too
0.370753063809 you really the remote control to be international and not too
0.396652143223 and to be that's really people would be interested in buying in your remote control



graph_type=1.0, word_attraction=1.0, keyphrase=0.0, fl_score=0.0, core_rank=1.0, word_embed=0.0 

0.0908266072159 so the remote control to be international and not too
0.110987075948 you really the remote control to be international and not too
0.152845825707 so the remote control to be international product so you don't have to
0.176143714351 you really the remote control to be international product so you don't have to
0.199645503599 so the remote control has to be original trendy and user-friendly
0.227060899069 you really the remote control has to be original trendy and user-friendly
0.234430135234 it be an international remote control has to be original trendy and user-friendly
0.354228179402 it be an international product so you don't have to
0.392922883191 as you will discuss about the remote control so the
0.396406203874 and when designing u . v . remote control to be international and not too



graph_type=1.0, word_attraction=1.0, keyphrase=0.0, fl_score=0.0, core_rank=0.0, word_embed=1.0 

0.219256755762 so the remote control to be international and not too
0.243567655996 you really the remote control to be international and not too
0.346748048404 so the remote control to be international product so you don't have to
0.349158030187 so the remote control just remember that so it has to be kind of international and not too
0.361313480304 you really the remote control just remember that so it has to be kind of international and not too
0.371058948638 you really the remote control to be international product so you don't have to
0.412903676508 so the remote control just remember that so it has to be kind of international product so you don't have to
0.425059126625 you really the remote control just remember that so it has to be kind of international product so you don't have to
0.428959934499 as you will discuss about the remote control so the
0.455790828227 it be an international product so you don't have to



